# Source files
src/
*.ts

# Config & local data
.tricox/
.env
.env.*
config.json

# Dev / tooling
node_modules/
npm-debug.log*
tsconfig.json

# Git / editor
.git/
.gitignore
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
